/* border inside box size */
* {
    box-sizing: border-box;
}
/* set body weight and background */
body 
{
    background-color: #fff;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    font-size: 16px;
    line-height: 32px;
    font-family: 'Arial', 'Helveticaa Neue', Arial, Helvetica, sans-serif;
    color: #777;
    margin: 0px, 0px;
}
div .container .container-width {
    max-width: 0px;
}
.main-container {
    background: #eee;
    max-width: 640px;
    display: flex;
    justify-content: start;
    padding-bottom: 24px;
    margin: 0 0 30px 30px;

}
/* fixed footer properties */

.footer {
    background-color: #4aaaa4;
    color: white;
    text-align: center;
    padding: 12px auto;
} 
#logo {
    width: 250px;
    height: 90px;
    background: #4aaaa4;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    text-shadow: -1px 1px 0 #777,
				  1px 1px 0 #777,
				 1px -1px 0 #777;
				
}
/* navigation bar properties */
.custom-navbar {
    background-image: linear-gradient(#fff, #4aaaa4);
}
.custom-nav-link {
    text-align: center;
    height: 50px;
    width: 125px;
}

#navbarSupportedContent {
    justify-content: flex-end;
    text-shadow: -1px 1px 0 #777,
    1px 1px 0 #777,
   1px -1px 0 #777;
  
}

#no-padd {
    padding: 0;
}

div #page-head {
    margin: 0;
    padding:0 0 0 40px;
    background: linear-gradient(#4aaaa4, #fff);
}

/* contact */



label,
#name,
#email,
#message {
    display: block;
    width: 100%;
}

#name,
#email,
#message {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

#message {
    height: 160px;
}

#sub-property {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}
